*Prepared by: Mohamad Akhmal Firdaus Bin Md Osman Ani* <br>
*Training: BAC Data Science & Analytics Professional, Module 2: Assignment*

# Assignment Data Science Tools

## __Mohamad Akhmal Firdaus Bin Md Osman Ani__
### Data Scientist/ Artificial Intelligence Engineer

*Why you are interested in Data Science?*
*I'm interested in analyzing and finding insights of data for digital applications. These help me to practice my critical and problem solving skills, with creative understandings.*

### Cell 5 is about finding the value of z

In [1]:
x = 8
y = 10
z = x*y
print(z)

80

__This cell includes:__
- code/syntax highlighting
- horizontal rule 
- bulleted, numbered list
- blocked quotes
- images
- tables
- hyperlink
- ~striketrough~
___
1. > White-gold cresent during Ramadan. (Blocked Quotes Example)

2. ![](https://image.shutterstock.com/image-photo/yellowish-moon-crescent-dark-night-600w-1491282455.jpg)

3. | Stretch/Untouched | ProbDistribution | Accuracy |
| :- | -: | :-: |
| Stretched | Gaussian | .843

4. [Add me on my LinkedIn here.](https://my.linkedin.com/in/akhmalfirdaus)

In [2]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1